.main-content {
  height: auto;
  background-color: rgb(255, 255, 255);

  /* background-color: rgb(5, 48, 57); */
}

/* .landing-image-1 {
  height: 50%;
  width: 1521px;
  margin: 0;
  padding: 0;
} */

.main-content {
  padding: 100px;
}

.howwehelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-heading-agro {
  font-size: 70px;
  text-align: left;
  width: 120%;
  color: #333;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

.left-para {
  font-size: 20px;
  text-align: left;
  color: #7ac7c4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

.sbx-custom {
  display: inline-block;
  position: relative;
  width: 342px;
  height: 41px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.main-search-bar {
  display: flex;
}

.sbx-custom__input {
  display: inline-block;
  -webkit-transition: box-shadow 0.4s ease, background 0.4s ease;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 21px;
  box-shadow: inset 0 0 0 1px #cccccc;
  background: #ffffff;
  padding: 0;
  padding-right: 77px;
  padding-left: 19px;
  width: 100%;
  height: 5.6vh;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agroimage {
  width: 100%;
  border-radius: 250px 250px 250px 20px;
}

.agro-community {
  display: flex;
  padding: 16px 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #7ac7c4;
  box-shadow: 0px 4px 20px 0px rgba(255, 184, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  cursor: pointer;
}

.join-1 {
  font-size: 16px;
  text-align: left;
  color: #111;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 5px;
}

.join-2 {
  font-size: 16px;
  text-align: left;
  color: #111;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

.sbx-custom__input::-webkit-search-decoration,
.sbx-custom__input::-webkit-search-cancel-button,
.sbx-custom__input::-webkit-search-results-button,
.sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.sbx-custom__input:focus,
.sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #7ac7c4;
  background: #ffffff;
}

.sbx-custom__input::-webkit-input-placeholder {
  color: #aaaaaa;
}

.sbx-custom__input::-moz-placeholder {
  color: #aaaaaa;
}

.sbx-custom__input:-ms-input-placeholder {
  color: #aaaaaa;
}

.sbx-custom__input::placeholder {
  color: #aaaaaa;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 20px 20px 0;
  background-color: #7ac7c4;
  padding: 0;
  width: 49px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.sbx-custom__submit:hover,
.sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  fill: #ffffff;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 10px;
  right: 56px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 13px;
  height: 13px;
}

.agri-img {
  width: 20%;
  border-radius: 8px;
}

.agri-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 30px;
}

.agri-content div {
  font-size: 16px;
  text-align: left;
  color: #111;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
}

.img-edit {
  transform: scale(0.8);
}
.ag-card-cont {
  font-size: 16px;
  text-align: left;
  color: #111;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}
.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
  animation-name: sbx-reset-in;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

/* .hero {
  position: relative;
}

.free-assessment {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 5px;
  opacity: 0.85;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  bottom: 390px;
  right: 250px;
  margin-bottom: -270px;
}

.choices {
  display: flex;
  gap: 2px;
  font-weight: 600;
  font-size: 2.4vw;
}

.description {
  font-size: 1vw;
  text-align: left;
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}
.descp2 {
  font-size: 18px;
  font-weight: 400;
}

.button-free button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #ffb800;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; 
  letter-spacing: 0.4px;
  text-transform: capitalize;
  border: none;
}

.choices div {
  color: #222;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}

.free-assessment-mb {
  display: none;
} */

.main-starter {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
  gap: 200px;
  padding-bottom: 60px;
}

.agro-hwp {
  color: #222;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}

.underine-style {
  height: 5px;
  width: 10%;
  color: #7ac7c4;
  background-color: #7ac7c4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 8px;
}

.hwp-cards {
  display: flex;
  gap: 20px;
  padding-top: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 84px;
}

.hwp-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 40vh;
  width: 20vw;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  transition: box-shadow 0.3s;
}

.hwp-card:hover {
  box-shadow: 0 0 11px #7ac7c4;
}

.hwp-card img {
  width: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .free-assessment {
    position: relative;
    left: 21px;
    width: 100%;
  }
  .hero {
    width: 100%;
  }
  .free-assessment-mb {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  .free-assessment {
    display: none;
  }

  .landing-image-1 {
    display: none;
  }

  .free-assessment-mb {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
  }

  .free-assessment-mb-c {
    margin-left: -15px;
  }

  .free-assessment-mb-1 {
    color: #222;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
  }

  .free-assessment-mb-2 {
    color: #444;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 90vw;
  }

  .left-para {
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: #7ac7c4;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
  }

  .main-left-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 30px;
  }

  .main-rightcont {
    display: none;
  }
  .main-starter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hwp-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .agri-img {
    width: 58%;
  }

  .nothing {
    margin-bottom: -500px;
  }

  .hwp-card {
    width: 100%;
    padding: 20px;
  }

  .agri-content {
    display: flex;
    flex-direction: column;
    width: 180%;
    text-align: center;
  }

  .agri-content div {
    text-align: justify;
  }

  .agro-community {
    margin-top: 40px;
  }

  .howwehelp-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .free-assessment-mb-3 {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: #ffb800;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 155% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    box-shadow: 1px 10px 30px -10px #ffb800;
    transform: scale(0.9);
  }

  .free-assessment-mb-3-u {
    margin-bottom: 70px;
  }

  .left-heading-agro {
    font-size: 40px;
    text-align: center;
    width: 120%;
    color: #333;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .free-assessment {
    position: relative;
    left: 100px;
  }
}
